body {
  font-family: 'Barlow', sans-serif;
  color: #162933;
  padding: 0% 12%;
  margin: 0 auto;
  max-width: 1140px;
  background-color: #F2F2F2;
}


/* Typography CSS */
h1 {
  font-size: 32px;
  font-weight: 300;
  line-height: 32px;
}
h2 {
  color: #918888;
  font-size: 28px;
  font-weight: 300;
  line-height: 38px;
}
h3 {
  font-size: 17px;
  font-weight: 500;
  margin: 0%;
}
h4 {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.8px;
}
h5 {
  color: #918888;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-top: 10px;
}
h6 {
  font-size: 12px;
  font-weight: 500;
}
.subHeading {
  position: relative;
  margin: 8% 0%;
  padding: 0px 10px;
}

.projectTitle {
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 54px;
  text-align: left;
  padding: 0px 15px; 
}
.projectTitleSmall {
  font-size: 42px;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 44px;
  text-align: left;
  padding: 0px 15px; 
}
.projectCategory {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 2% 0%;
  text-align: left;
  padding: 0px 15px; 
}

/* Line */
hr.line {
  border: 1.5px solid #14242C;
  margin: 6% 15px;
}

hr.thinLine {
  border: 0.8px solid #918888;
}

/* List Style */
p {
  display: block;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  margin-left: 0;
  margin-right: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
margin: 15px 0;
}

/* Background */
.background {
  position: absolute;
  width: 200%;
  height: 300px;
  background-color: white;
  margin: -8% -100%;
}

/* Navigation */
#navigationGrid {
  padding: 0px 15px 20px 15px;
  position: relative;
  z-index: 50;
  display: flex;
  flex-direction: row;
  margin: 8% 0%;
  display: grid;
  grid-template-rows: 30px;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-areas:
  "logo name icons";
}
#logo {
  grid-area: logo;
}
#name {
  grid-area: name;
}
#icons {
  grid-area: icons;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  list-style-type: none;
  font-size: 14px;
}
#icons li {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: bottom;
}

#logo img {
  height: 32px;
}


/* Links CSS */
.cool-link {
  display: inline-block;
  color: #162933;
  text-decoration: none;
  margin: 0px 0px 0px 15px;
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  margin: 2px 0px 0px 0px;
  background: #162933;
  transition: width .3s;
}

.cool-link:hover::after {
  width: 100%;
  transition: width .3s;
}


/* Portfolio Elements */
.works {
  position: relative;
  z-index: 100;
}

.triangle {
  position: absolute;
  bottom: 68px;
  right: 0px;
  border-left: 30px;
  border-bottom: 30px;
  border-color: white transparent;
  border-style: solid;
  z-index: 50;
}


/* Portfolio Hover */
figure {
  margin: 0% 0% 30px 0%;
  padding: 0px 15px;
  position: relative;
  z-index: 50;
}

figure:hover {
	opacity: 1;
}
.hover01 figure img {
  opacity: 1;
  object-fit: cover;
	filter: grayscale(90%);
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
  opacity: 1;
	filter: grayscale(0);
}

.hover01 figure a {
  text-decoration: none;
}

/* Portfolio Grid */
#portfolio {
  position: relative;
  display: grid;
  grid-gap: 20px;
  grid-template-rows: 260px 260px 260px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "desk couches couches"
  "desk bookcases bookcases"
  "bedroom bedroom patio";
}

#bookcases {
  grid-area: bookcases;
  color: #F7513E;
}
#couches {
  grid-area: couches;
}
#bedroom {
  grid-area: bedroom;
  color: #A4B7D1;
}
#desk {
  grid-area: desk;
  color: #45A6B9;
}
#patio {
  grid-area: patio;
  color: #253623;
}
/*
.portfolioGridArea {
  background-color: gray;
  position: relative;
  cursor: pointer;
  display: grid;
  object-fit: cover;
  width: 100%;
  align-items: baseline;
  align-content: end;
  overflow: hidden;
  float: left;
}
*/

.portfolioGridArea {
  background-color: gray;
  cursor: pointer;
  overflow: hidden;
}

#portfolio2 {
  position: relative;
}

/* Graphic Design */
* {
  box-sizing: border-box;
}
 
.graphicPortfolio {
  float: left;
  width: 33.33%;
}

.graphicWorks::after {
  content: "";
  clear: both;
  display: table;
}


/* Heading Grid */
.headingGridArea {
  background-color: white;
  padding-top: 8px;
  display: grid;
  grid-column-gap: 15px;
  grid-template-rows: 60px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "project details details";
}

#project {
  grid-area: project;
}

#details {
  grid-area: details;
}

/* Images */
#me {
  background-size: auto;
  opacity: 0.6;
  display: grid;
  max-width: 100%;
  height: auto;
  float: left;
  object-fit: cover;
  }

#whiteLine {
  display: inline-block;
}


#smallblackline {
  width: 20px;
}

#role img {
  position: top-left;
}

#finalWork img {
  background-size: auto;
  display: grid;
  width: 100%;
  height: auto;
}



/* Footer */
.footer {
  position: relative;
  display: flex;
  align-items: right;
  justify-content: flex-end;
}

#footer img {
  cursor: pointer;
  text-decoration: none;
  margin: 0px 2px;
}

#Linkedin {
  height: 15px;
}
#Indeed {
  height: 18px;
}
#Email {
  height: 12px;
}


/* Project Hero CSS */
#projectGrid {
  position: relative;
  z-index: 100;
  margin: 0px 5%;
  display: grid;
  grid-column-gap: 15px;
  grid-template-rows: 180px 150px 150px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "projectSummary projectSummary projectSummary"
  "projectName myRole desktopImg"
  "time team desktopImg";
}

#projectName {
  grid-area: projectName;
}
#myRole {
  grid-area: myRole;
}
#time {
  grid-area: time;
}
#team {
  grid-area: team;
}
#projectSummary {
  grid-area: projectSummary;
}
#empty {
  grid-area: empty;
}
#desktopImg {
  grid-area: desktopImg;
}


.categoryGridArea {
  background-repeat: no-repeat;
  margin: 0px;
  display: grid;
  align-content: top;
}

.categoryGridArea5 {
  background-repeat: no-repeat;
  margin: 0px 0px 0px 0px;
  display: grid;
  align-content: center;
}

.categoryGridArea2 {
  margin: 80px 0px 0px 0px;
  display: grid;
  align-content: top;
}

.categoryGridArea3 {
  margin: 0px 0px 0px -160px; 
  display: grid;
  align-content: end;
}


 /* Case Study Grid */
#caseGrid {
  display: grid;
  position: relative;
  margin: 6% 0%;
  padding: 0px 15px; 
  grid-gap: 40px;
  grid-template-rows: 200px;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
  "overview1 overview2";
}

#overview1 {
  grid-area: overview1;
}
#overview2 {
  grid-area: overview2; 
}

.caseGridArea {
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: grid;
}


/* Project Text */
.caseInfo {
  display: grid;
  position: relative;
}
.sectionTitle {
  color: #F7513E;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 12px;
  display: inline-block;
  padding: 0px 15px; 
}

.sectionText {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 40px;
  padding: 0px 15px; 
}

.sectionText li {
  list-style-type: none;
}

.sectionText img {
  margin-top: 20px;
  margin-bottom: 25px;
}


/*
#caseBorder {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #b3b3b3;
}
*/

#caseShadow {
  box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.2);
}

.gifVideo {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  background-color: #2B2B2B;
}

.under {
  position: relative;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
}

.over {
  position: relative;
  width: 100%;
  left: 0px;
  top: -306px;
  z-index: 2;
}

.under img {
display: block;
margin-left: auto;
margin-right: auto;
}

.over img {
display: block;
margin-left: auto;
margin-right: auto;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  margin-top: 15px;
  margin-bottom: 20px;
  }

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 12px;
  margin: 20px auto;
  max-width: 520px;
  align-content: center;
}

.grid-container > div {
  padding: 15px;
  background-color: #C9D6E1;
}

* {
  box-sizing: border-box;
}

.row {
  margin-top: 0px;
}
.column {
  float: left;
  width: 50%;
  display: inline-block;
}

.column > div {
  margin: 20px;
  padding-left: 10px;
  border-left: 0.8px solid #918888;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 80%;
  position: relative;
  z-index: 50;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 12px;
  color: #162933;
  font-size: 28px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 4px 0 0 4px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* Responsive Code */
@media only screen and (max-width: 700px) {
  #words {
    margin: 5px;
  }
  #smallblackline {
    margin: 0px -26px;
  }

  #name {
    display: none;
  }

  h2 {
    font-size: 18px;
    line-height: 28px;
  }

  h3 {
    font-size: 15px;
    font-weight: 500;
    margin: 0%;
  }
  
  h4 {
    font-size: 12.5px;
    line-height: 16px;
    letter-spacing: 0.6px;
    margin: 0px 0px 5px 0px;
  }

  .background {
    height: 150px;
  }

  hr.line {
    border: 1px solid #14242C;
    margin: 6% 15px;
  }

  .sectionTitle {
    margin-top: 30px;
  }

  .sectionText {
    margin-bottom: 0px;
  }

  .sectionText img {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .projectCategory {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 4% 0% 2% 0%;
    text-align: left;
    padding: 0px 15px; 
  }

  .projectTitle {
    font-size: 36px;
    line-height: 48px;
  }
  .projectTitleSmall {
    font-size: 28px;
    line-height: 32px;
  }

  #navigationGrid {
    padding: 0px 15px 20px 15px;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
    "logo icons";
  }

  #logo img {
    height: 25px;
  }

  #categoryGrid {
    grid-template-rows: 420px 240px 30px 20px 360px 390px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "role"
      "words1"
      "words2"
      "experience"
      "education"
      "skills";
  }

  #portfolio {
    overflow: hidden;
    object-fit: contain;
    height: auto;
    position: relative;
    width: 100%;
    display: grid;
    grid-row-gap: 20px;
    grid-template-rows: 170px 170px 170px 170px 170px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "desk"
      "couches"
      "bookcases"
      "bedroom"
      "patio";
  }

.responsive {
  width: 100%;
}  

#projectGrid {
  grid-template-rows: 300px 300px 300px 300px 300px 300px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "projectName"
    "myRole"
    "time"
    "team"
    "projectSummary"
    "desktopImg";
}

#caseGrid {
  grid-template-rows: 80px 180px;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  grid-template-areas:
  "overview1"
  "overview2";
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.column {
  width: 100%;
}

.column > div {
  margin: 15px 0px;
  padding-left: 10px;
  border-left: 0.8px solid #918888;
}


.gifVideo {
  padding: 20px 15px;
}

.graphicPortfolio {
  width: 50%;
}

}