body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #444444;
}

/* Background */
.background {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 532px;
  background-color: #E0E0E0;
}

/* Navigation Grid */
#navigationGrid {
  position: relative;
  z-index: 50;
  display: flex;
  flex-direction: row;
  margin: 5.5%;
  display: grid;
  grid-template-rows: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "logo name icons";
}
#logo {
  grid-area: logo;
  height: 30px;
}
#name {
  grid-area: name;
}
#icons {
  grid-area: icons;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#icons p {
  margin: 0px 0px 0px 20px;
  text-decoration: none;
  cursor: pointer;
}


/* Category Grid CSS */
#categoryGrid {
  position: relative;
  top: 170px;
  z-index: 100;
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 400px 400px 300px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "picture role words"
  "empty experience education"
  "empty skills contact";
}

#picture {
  grid-area: picture;

}

#role {
  grid-area: role;
}
#words {
  grid-area: words;
}
#empty {
  grid-area: empty;
}
#experience {
  grid-area: experience;
}
#education {
  grid-area: education;
}
#skills {
  grid-area: skills;
}
#contact {
  grid-area: contact;
}

.categoryGridArea {
  background-repeat: no-repeat;
  margin: 0px;
  display: grid;
  align-content: top;
}

.categoryGridArea4 {
  background-repeat: no-repeat;
  margin: -90px 0px 0px 0px;
  display: grid;
  align-content: top;
}

.categoryGridArea2 {
  margin: 80px 0px 0px 0px;
  display: grid;
  align-content: top;
}

.categoryGridArea3 {
  margin: 0px 0px 0px -160px; 
  display: grid;
  align-content: end;
}


/* Portfolio Grid */
#portfolio {
  margin: 5.5%;
  display: grid;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "bookcases bookcases bookcases"
  "couches couches couches"
  "bedroom bedroom patio";
}

#bookcases {
  grid-area: bookcases;
  background-image: url("../img/rectangle.svg");
}
#couches {
  grid-area: couches;
  background-image: url("../img/rectangle.svg");
}
#bedroom {
  grid-area: bedroom;
  background-image: url("../img/rectangle.svg");
}
#patio {
  grid-area: patio;
  background-image: url("../img/rectangle.svg");
}

.portfolioGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  display: grid;
  align-content: end;
}

.portfolioGridArea2 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  display: grid;
  align-content: end;
  margin: 0px 10px 0px 0px;
}

.portfolioGridArea3 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  display: grid;
  align-content: end;
  margin: 0px 0px 0px 10px;
}

#heading {
  height: 50px;
  background-color: white;
  color: black;
  font-size: 16px;
  padding-top: 10px;
}

/* Heading Grid */
#heading {
  display: flex;
  flex-direction: row;
  display: grid;
  grid-template-rows: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "project details myRole";
}

#project {
  grid-area: project;
  box-align: top-left;
}
#details {
  grid-area: details;
  box-align: top-left;
}
#myRole {
  grid-area: myRole;
  text-align: right;
}

/* Contents */
#me img {
  background-size: auto;
  opacity: 0.6;
  display: grid;
  max-width: 100%;
  height: auto;
}

#whiteLine {
  display: inline-block;
  margin: -160px 0px 0px 0px; 
}


#blackLine {
  position: top-left;
  display: inline-block;
  margin: 20px 0px 0px -70px; 

}

#role img {
  position: top-left;
}


/* Footer */
#footer {
  display: flex;
  align-items: right;
  justify-content: flex-end;
  margin: 5%;
}

#footer img {
  cursor: pointer;
  text-decoration: none;
  margin: 0px 2px;
}

#Linkedin {
  height: 15px;
}
#Indeed {
  height: 18px;
}
#Email {
  height: 12px;
}

/* Hover */
#navigation p:hover {
  color: #111;
}

/* Typography CSS */
p {
  font-size: 14px;
  color: #111;
}
#role p {
  font-size: 20px;
  line-height: 28px;
}
#words p {
  font-size: 16px;
  line-height: 20px;
}
h1 {
  font-size: 16px;
  font-weight: 300;
  margin: 0px 0px;
}
h2 {
  font-size: 36px;
  font-weight: 300;
  line-height: 40px;
  margin: 0px 0px;
}
h3 {
  font-size: 16px;
  font-weight: 300;
  line-height: 21px;
  margin: 0px 5.5%;
}

/* List Style */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
font-size: 14px;
margin: 0.8em 0;
}



/* Responsive Code */
@media only screen and (max-width: 1600px) {
 #icons {
    margin-left: auto;
  }
}

@media only screen and (max-width: 600px) {
  #words {
    margin: 5px;
  }
  #blackLine {
    margin: 0px -26px;
  }

  #name {
    display: none;
  }

  #categoryGrid {
    grid-template-rows: 420px 200px 30px 20px 360px 390px 130px 300px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "picture"
      "role"
      "words"
      "empty"
      "experience"
      "education"
      "skills"
      "contact";
  }

  #portfolio {
    grid-template-rows: 300px 300px 300px 300px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "bookcases"
      "couches"
      "bedroom"
      "patio";
  }
}

